* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  color: #5f5f5f;
  font-family: sans-serif;
  letter-spacing: 2px;
}
.header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.home {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  color: #5f5f5f;
}
.nav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.nav a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  color: #5f5f5f;
}
.nav a:hover {
  color: #ffa500;
}
.app {
  width: 100%;
  min-height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
