*
  box-sizing border-box
body {
  color: #5f5f5f;
  font-family: sans-serif;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
}
.nav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.nav a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  color: #5f5f5f;
}
.nav a:hover {
  color: #ffa500;
}
.hero,
.current,
.websites {
  padding: 3em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title,
.current-title,
.websites-title {
  font-size: 3em;
  margin: 0;
}
.hero-text,
.current-text,
.websites-text {
  margin: 10px;
  font-weight: bold;
  font-size: 1.5em;
}
.hero-text-bold,
.current-text-bold,
.websites-text-bold {
  margin: 10px;
  color: #ffa500;
  font-size: 2em;
  font-weight: bold;
}
.current {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.current-link {
  margin-top: 20px;
  font-size: 2em;
}
.websites {
  align-items: flex-start;
}
