* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  color: #aaa;
  font-family: sans-serif;
  letter-spacing: 2px;
}
header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 100%;
}
.home {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  width: 100%;
}
.nav a {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav a:hover {
  color: #ffa500;
}
.button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
  padding: 1em;
}
.button:hover {
  background: #ccc;
  color: #fff;
}
.app,
.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 0 auto;
  justify-content: flex-start;
  padding: 15px;
  width: 100%;
}
.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  width: 100%;
}
.game-options {
  display: flex;
  flex-direction: column;
}
.game-score,
.game-word {
  align-self: flex-end;
  background: #4682b4;
  border-radius: 5px 5px 0 0;
  color: #fff;
  margin: 0;
  padding: 1em;
}
.game-word {
  border-radius: 5px 0px 5px 5px;
  font-size: 1.5em;
  letter-spacing: 10px;
  padding: 2em 3em;
  text-transform: uppercase;
}
.game-form {
  display: flex;
}
.game-input,
.game-submit {
  background: none;
  border: 1px solid #ccc;
  font-size: 1.2em;
  padding: 1em;
}
.game-input {
  border-radius: 5px 0 0 5px;
}
.game-submit {
  border-radius: 0 5px 5px 0;
}
.hiden {
  display: none;
}
