* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  color: #aaa;
  font-family: sans-serif;
  letter-spacing: 2px;
}
header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 100%;
}
.home {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  width: 100%;
}
.nav a {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav a:hover {
  color: #ffa500;
}
.app,
.intro,
.modal {
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  position: relative;
  width: 100%;
}
.button {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
  padding: 1em;
}
.button:hover {
  background: #fff;
  color: #aaa;
}
.game {
  display: flex;
}
.start {
  background: #4682b4;
  border-radius: 50px 0px 0px 50px;
  height: 50px;
  width: 50px;
}
.rute {
  height: 50px;
  width: 300px;
  background: #fff;
}
.end {
  background: #90ee90;
  border-radius: 0px 50px 50px 0px;
  height: 50px;
  width: 50px;
}
.modal-buttons {
  margin: 15px 0;
}
.hiden {
  display: none;
}
.cursor {
  cursor: none;
}
