* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  color: #5f5f5f;
  font-family: sans-serif;
  letter-spacing: 2px;
}
.header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.home {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  color: #5f5f5f;
}
.nav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.nav a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  color: #5f5f5f;
}
.nav a:hover {
  color: #ffa500;
}
.app {
  width: 100%;
  min-height: 50vh;
  min-height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.roll {
  margin: 20px;
  animation-duration: 2s;
animati
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@-moz-keyframes zoom {
  0% {
    transform: scale(2);
  }
  50% {
    transform: rotate(3);
  }
  100% {
    transform: rotate(1);
  }
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(2);
  }
  50% {
    transform: rotate(3);
  }
  100% {
    transform: rotate(1);
  }
}
@-o-keyframes zoom {
  0% {
    transform: scale(2);
  }
  50% {
    transform: rotate(3);
  }
  100% {
    transform: rotate(1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(2);
  }
  50% {
    transform: rotate(3);
  }
  100% {
    transform: rotate(1);
  }
}
@-moz-keyframes skew {
  0% {
    transform: skew(50deg);
  }
  25% {
    transform: skew(30deg);
  }
  50% {
    transform: initial;
  }
  75% {
    transform: skew(-30deg);
  }
  100% {
    transform: skew(-50deg);
  }
}
@-webkit-keyframes skew {
  0% {
    transform: skew(50deg);
  }
  25% {
    transform: skew(30deg);
  }
  50% {
    transform: initial;
  }
  75% {
    transform: skew(-30deg);
  }
  100% {
    transform: skew(-50deg);
  }
}
@-o-keyframes skew {
  0% {
    transform: skew(50deg);
  }
  25% {
    transform: skew(30deg);
  }
  50% {
    transform: initial;
  }
  75% {
    transform: skew(-30deg);
  }
  100% {
    transform: skew(-50deg);
  }
}
@keyframes skew {
  0% {
    transform: skew(50deg);
  }
  25% {
    transform: skew(30deg);
  }
  50% {
    transform: initial;
  }
  75% {
    transform: skew(-30deg);
  }
  100% {
    transform: skew(-50deg);
  }
}
