* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  color: #aaa;
  font-family: sans-serif;
  letter-spacing: 2px;
}
header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 100%;
}
.home {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  width: 100%;
}
.nav a {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav a:hover {
  color: #ffa500;
}
.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  padding: 15px;
  width: 100%;
}
.boxes {
  display: flex;
  justify-content: center;
  width: 100%;
}
.box {
  border: 1px solid #ccc;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.box:hover {
  box-shadow: 0px 0px 39px 0px #fff;
  filter: brightness(0.9);
  z-index: 10;
}
@media screen and (min-width: 769px) {
  .box {
    height: 100px;
    width: 100px;
  }
}
.move {
  animation-duration: 3s;
  animation-name: move;
}
.large {
  animation-duration: 3s;
  animation-name: large;
}
.gusano {
  animation-duration: 3s;
  animation-name: gusano;
}
@-moz-keyframes down {
  0% {
    transform: scale(0.8);
  }
  40% {
    transform: translateY(1000px);
  }
  79% {
    display: none;
  }
  80% {
    height: 0;
    position: initial;
  }
  100% {
    height: initial;
  }
}
@-webkit-keyframes down {
  0% {
    transform: scale(0.8);
  }
  40% {
    transform: translateY(1000px);
  }
  79% {
    display: none;
  }
  80% {
    height: 0;
    position: initial;
  }
  100% {
    height: initial;
  }
}
@-o-keyframes down {
  0% {
    transform: scale(0.8);
  }
  40% {
    transform: translateY(1000px);
  }
  79% {
    display: none;
  }
  80% {
    height: 0;
    position: initial;
  }
  100% {
    height: initial;
  }
}
@keyframes down {
  0% {
    transform: scale(0.8);
  }
  40% {
    transform: translateY(1000px);
  }
  79% {
    display: none;
  }
  80% {
    height: 0;
    position: initial;
  }
  100% {
    height: initial;
  }
}
@-moz-keyframes gusano {
  0% {
    transform: scale(0.8);
    height: 100px;
  }
  40% {
    transform: translateY(500px);
  }
  60% {
    height: 60px;
    transform: translateY(400px);
  }
  80% {
    height: 100px;
    transform: translateY(300px);
  }
  90% {
    height: 60px;
    transform: translateY(100px);
  }
}
@-webkit-keyframes gusano {
  0% {
    transform: scale(0.8);
    height: 100px;
  }
  40% {
    transform: translateY(500px);
  }
  60% {
    height: 60px;
    transform: translateY(400px);
  }
  80% {
    height: 100px;
    transform: translateY(300px);
  }
  90% {
    height: 60px;
    transform: translateY(100px);
  }
}
@-o-keyframes gusano {
  0% {
    transform: scale(0.8);
    height: 100px;
  }
  40% {
    transform: translateY(500px);
  }
  60% {
    height: 60px;
    transform: translateY(400px);
  }
  80% {
    height: 100px;
    transform: translateY(300px);
  }
  90% {
    height: 60px;
    transform: translateY(100px);
  }
}
@keyframes gusano {
  0% {
    transform: scale(0.8);
    height: 100px;
  }
  40% {
    transform: translateY(500px);
  }
  60% {
    height: 60px;
    transform: translateY(400px);
  }
  80% {
    height: 100px;
    transform: translateY(300px);
  }
  90% {
    height: 60px;
    transform: translateY(100px);
  }
}
@-moz-keyframes large {
  0% {
    height: 1000px;
  }
  40% {
    transform: translateY(1000px);
    height: 100px;
  }
  70% {
    transform: translateY(400px);
  }
  80% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(100px);
  }
}
@-webkit-keyframes large {
  0% {
    height: 1000px;
  }
  40% {
    transform: translateY(1000px);
    height: 100px;
  }
  70% {
    transform: translateY(400px);
  }
  80% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(100px);
  }
}
@-o-keyframes large {
  0% {
    height: 1000px;
  }
  40% {
    transform: translateY(1000px);
    height: 100px;
  }
  70% {
    transform: translateY(400px);
  }
  80% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(100px);
  }
}
@keyframes large {
  0% {
    height: 1000px;
  }
  40% {
    transform: translateY(1000px);
    height: 100px;
  }
  70% {
    transform: translateY(400px);
  }
  80% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(100px);
  }
}
@-moz-keyframes move {
  0% {
    height: 1000px;
  }
  40% {
    transform: translateY(1000px);
    height: 100px;
  }
  70% {
    transform: translateY(400px);
  }
  80% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(100px);
  }
}
@-webkit-keyframes move {
  0% {
    height: 1000px;
  }
  40% {
    transform: translateY(1000px);
    height: 100px;
  }
  70% {
    transform: translateY(400px);
  }
  80% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(100px);
  }
}
@-o-keyframes move {
  0% {
    height: 1000px;
  }
  40% {
    transform: translateY(1000px);
    height: 100px;
  }
  70% {
    transform: translateY(400px);
  }
  80% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(100px);
  }
}
@keyframes move {
  0% {
    height: 1000px;
  }
  40% {
    transform: translateY(1000px);
    height: 100px;
  }
  70% {
    transform: translateY(400px);
  }
  80% {
    transform: translateY(300px);
  }
  90% {
    transform: translateY(100px);
  }
}
