* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  color: #aaa;
  font-family: sans-serif;
  letter-spacing: 2px;
}
header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 100%;
}
.home {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  width: 100%;
}
.nav a {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav a:hover {
  color: #ffa500;
}
.app {
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  position: relative;
  width: 100%;
}
