* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  color: #aaa;
  font-family: sans-serif;
  letter-spacing: 2px;
}
header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 100%;
}
.home {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  width: 100%;
}
.nav a {
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.nav a:hover {
  color: #ffa500;
}
.app,
.input {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  padding: 15px;
  position: relative;
  width: 100%;
}
.input p {
  width: 80%;
  text-align: center;
}
.text-input {
  margin: 15px 0;
}
.submit {
  background: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: inherit;
  font-weight: bold;
  padding: 1em;
}
.submit:hover {
  background: #ccc;
  color: #fff;
}
.output {
  width: 100%;
  background: #000;
  height: 100vh;
  overflow: hidden;
}
.output-text {
  width: 80%;
  margin: 0 auto;
  font-size: 5em;
  color: #fff;
  position: relative;
  text-shadow: 0 0 5px #5d5dff, 0 0 3px #5d5dff, 0 0 2px #1c1c52, 0 0 1px #000, 0 0 1px #000;
}
.hiden {
  display: none;
}
