@import "./icomoon/style.css";
a {
  text-decoration: none;
}
body {
  color: #5f5f5f;
  font-family: sans-serif;
  letter-spacing: 2px;
}
.nav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.nav a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  color: #5f5f5f;
}
.nav a:hover {
  color: #ffa500;
}
.text {
  text-align: center;
}
.icon-door {
  font-size: 10em;
  cursor: pointer;
}
.doors {
  margin: 3em 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.door-green {
  color: #00a600;
}
.door-orange {
  color: #ffa500;
}
.door-blue {
  color: #4682b4;
}
